@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .round-table table th:first-child{
    border-radius:10px 0 0 0px;
  }
  
  .round-table table th:last-child{
    border-radius:0 10px 0px 0;
  }
  
  .loader {
    border-top-color: #FF5B6C;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
  }

  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #FF5B6C #fff;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 5px;
    border: 10px solid transparent;
    background-clip: content-box;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #FF5B6C;
    border-radius: 10px;
    border: 1px solid #fff;
  }
}